html {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.container1 {
    display: flex;
    background-color: #1F2937;
    color: white;
    flex: 1;
    width: 100%;
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
    padding: 50px;
}

.header-box {
    display: flex;
    background-color: #1F2937;
    color: #F9FAf8;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}


.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    padding-right: 8px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    padding-right: 16px;
}

.container2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 50px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    height: 125px;
    width: 75%;
    border-radius: 10px;
}

.container3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-style: italic;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    padding: 50px;
    width: 100%;
}

.text {
    text-align: right;
}

.test {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
}

.thor {
    font-size: 16px;
    font-weight: bold;
    text-indent: 50%;
  }

.name {
    text-indent: 450px;
    font-size: 16px;
    font-weight: bold;
}

.information {
    font-size: 36px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    padding-bottom: 25px;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.list-item img {
    width: 150px;
    height: auto;
}

.header-button {
    padding: 5px 10px;
    font-size: 14px;
    width: 20%;
    height: auto;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
}

.left-section {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 100px;
    width: 600px;
}

.right-section {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 100px;
}

.right-section img {
    width: 200px;
    height: auto;
    margin-left: 20px;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAf8;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 50px;
}

.footer-button {
    padding: 5px 30px;
    font-size: 14px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 7px;
    border: 2px solid #E5E7EB;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
    width: 700px;
}















